{{#each complain.comments as |comment|}}
  <div class="card shadow-sm mb-4 complainCard">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="userData col-3">
          <img class="mr-3" src="{{comment.user.avatar}}" alt="{{user.username}}">
        </div>

        <div class="col-6">
          <a class="font-weight-bold d-block" href="{{user.username}}" class="d-block">{{comment.username}}</a>
          <small class="text-muted">{{date comment.createdAt}}</small>
          <p>{{comment.text}}</p>
        </div>

      </div>
    </div>
  </div>
{{/each}}