<form action="/quejas/crear" method="POST" class="mb-4">
  <h6>Nueva Discusión</h6>

  {{#each types}}
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="{{this}}" name="type" class="custom-control-input" value="{{this}}">
      <label class="custom-control-label" for="{{this}}">{{this}}</label>
   
    </div>
   {{/each}}
  {{!-- <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="type" class="custom-control-input" value="Sugerencia">
    <label class="custom-control-label" for="customRadioInline2">Sugerencias</label>
  </div> --}}

  <div class="form-group">
    <label for="exampleFormControlSelect1">Seleccione una categoría</label>
    <select class="form-control" name="subject">
      {{#each categories}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" name="title">
  </div>

  <div class="form-group">
    <textarea placeholder="Escriba aquí..." name="body" type="text" class="form-control {{#if error.body }}is-invalid{{/if}}" id="body" value="{{ complain.body }}" rows="3"></textarea>
  </div>

  <div class="form-group">
    <input name="image" type="text" class="form-control-file {{#if error.image }}is-invalid{{/if}}" id="image"
      placeholder="image" value="{{ complain.image }}">
  </div>

  <button type="submit" class="btn btn-primary btn-outline btn-sm">Enviar</button>
</form>