{{#each complains as |complain|}}
  <div class="card shadow-sm mb-4 complainCard">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <span class="tagSubject"><i class="fas fa-tag mr-1"></i> {{complain.subject}}</span>
        </div>
        <div class="col-6 text-lg-right">
          <span class="{{#typeIndex type}}tagTypeSugestion{{else}}tagTypeComplain{{/typeIndex}}">{{complain.type}}</span>
        </div>
      </div>
      
     
    </div>
    <div class="card-body">
      <h3 class="card-title">{{complain.title}}</h3>
      <p class="card-text">{{complain.body}}</p>

      <div class="row">
        <div class="userData col-6 d-flex align-items-center">
          <img class="mr-3" src="{{complain.user.avatar}}" alt="{{user.username}}">
          <div>
            <a class="font-weight-bold d-block" href="/{{user.username}}" class="d-block">{{complain.user.username}}</a>
            <small class="text-muted">{{date complain.createdAt}}</small>
          </div>
        </div>

        <div class="complainInfo col-6">
          likes
        </div>
      </div>

    </div>
  </div>
{{/each}}