{{!-- HACER: REVISAR CAMPOS --}}
{{#if user.isNew}}
  <form action="/users" method="POST" enctype="multipart/form-data">
{{else}}
  <form action="/me/edit" method="POST">
{{/if}}
 

  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name"
      placeholder="Enter name" value="{{ user.name }}">

    {{#if error.name}}
    <div class="invalid-feedback">
      {{error.name.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input name="lastname" type="text" class="form-control {{#if error.lastname }}is-invalid{{/if}}" id="lastname"
      placeholder="Enter last name" value="{{ user.lastname }}">

    {{#if error.lastname}}
    <div class="invalid-feedback">
      {{error.lastname.message}}
    </div>
    {{/if}}
  </div>

  

  

  <div class="form-group">
    <label for="city">City</label>
    <input name="city" type="text" class="form-control {{#if error.city }}is-invalid{{/if}}" id="city"
      placeholder="Enter username" value="{{ user.city }}">

    {{#if error.city}}
    <div class="invalid-feedback">
      {{error.city.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="bio">Bio</label>
    <textarea name="bio" type="text" class="form-control {{#if error.bio }}is-invalid{{/if}}" id="bio"
      placeholder="Enter bio" value="{{ user.bio }}" rows="4"></textarea>

    {{#if error.bio}}
    <div class="invalid-feedback">
      {{error.bio.message}}
    </div>
    {{/if}}
  </div>
{{#if user.isNew}}
  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
      placeholder="password" value="{{ user.password }}">

    {{#if error.password}}
    <div class="invalid-feedback">
      {{error.password.message}}
    </div>
    {{/if}}
  </div>
  

  <div class="form-group">
    <label for="avatar">Avatar</label>
    <input name="avatar" type="file" class="form-control-file {{#if error.avatar }}is-invalid{{/if}}" id="avatar"
      placeholder="Enter avatar url" value="{{ user.avatar }}">

    {{#if error.avatar}}
    <div class="invalid-feedback">
      {{error.avatar.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control {{#if error.username }}is-invalid{{/if}}" id="username"
      placeholder="Enter username" value="{{ user.username }}">

    {{#if error.username}}
    <div class="invalid-feedback">
      {{error.username.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
      placeholder="Enter email" value="{{ user.email }}">

    {{#if error.email}}
    <div class="invalid-feedback">
      {{error.email.message}}
    </div>
    {{/if}}
  </div>

  {{/if}}

  {{#if user.isNew}}
    <button type="submit" class="btn btn-primary">Registro</button>
  {{else}}
    <button type="submit" class="btn btn-success">Confirmar</button>
  {{/if}}
</form>