<div class="row">
  <div class="col-4">
    <img src="{{user.avatar}}" alt="{{user.username}}" />
    <p>{{user.username}}</p>
    <p>{{user.bio}}</p>
  </div>

  <div class="col-8">
    {{#each complains as |complain|}}
      <div class="card shadow-sm mb-4 complainCard">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <span class="tagSubject"><i class="fas fa-tag mr-1"></i> {{complain.subject}}</span>
            </div>
            <div class="col-6 text-lg-right">
              <span class="{{#typeIndex type}}tagTypeSugestion{{else}}tagTypeComplain{{/typeIndex}}">{{complain.type}}</span>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h3 class="card-title">{{complain.title}}</h3>
          <p class="card-text">{{complain.body}} <a href="quejas/detalle/{{complain.id}}">Leer más</a></p>
          <div class="row">
            <div class="userData col-6 d-flex align-items-center">
              <div>
                <small class="text-muted">{{date complain.createdAt}}</small>
              </div>
            </div>

            <div class="complainInfo col-6">
              likes
            </div>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>