<div class="row">
  <div class="col-4">
    <img src="{{user.avatar}}" alt="{{user.username}}" />
    <p>{{user.username}}</p>
    <p>{{user.city}}</p>
    <p>{{user.bio}}</p>
  </div>

  <div class="col-8">
    {{> complain}}
  </div>
</div>